.app-container{
    display: flex;
    flex-direction: row;

    >.main-area-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: $background-color;
        >.content-wrapper{
            min-height: 100vh;

        }
        >.footer-wrapper{
            background: $background-color;
        }
    }
    >.side-bar{
        background: $side-bar-background;
    }
}

@media only screen and (max-width: 600px) {
    .app-container{    
        >.main-area-container{
            width: 100%;
            >.content-wrapper{
                width: 90%;    
            }
        }
        >.side-bar{
            width: 0%;
        }
    }
}

@media only screen and (min-width: 600px) {
    .app-container{    
        >.main-area-container{
            width: 80%;
            >.content-wrapper{
                width: 40%;    
            }
        }
        >.side-bar{
            width: 10%;
        }
    }
}