// Colors
$off-white: #f9f9f9;
$dark-gray: #333333;
$light-gray: #888888;
$very-light-gray: #DDDDDD;
$very-very-light-gray: #EEEEEE;
$error-color: red;
$background-color: #FAF8EF;
$text-color: #776E65;
$score-rectangle-title-color: #EEE4D4;
$score-rectangle-background: #BBADA0;
$button-background: #8F7A66;
$button-text-color: #F9F6F2;
$hovered-button-background: #d8d4d0;
$board-square-background: #CDC1B4;
$side-bar-background: #FAFAEE;

//Font Size
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.8rem;
$font-size-xxxl: 7.2rem;

// Spacing
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 60rem;
$desktop-breakpoint-plus: 70rem;

// Others
$regular-border: 1px solid $very-light-gray;
$bold-weight: 600;
